#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  color: var(--off-white);
  background-color: var(--dark-brown);
}

#footer svg {
  width: 3rem;
  height: 3rem;
  
  path {
    fill: var(--off-white);
    transition: .1s;
  }
  
  &:hover path {
    fill: var(--off-white-secondary);
  }
}