#home {
  width: 70%;
  height: calc(85vh - 5rem);
  padding-top: 6rem;
}

h1{
  margin: 0;
  font-size: 6rem;
  font-weight: 400;
}

hr {
  border: .8px solid var(--dark-brown);
}

.home-description {
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: 300;

  div {
    margin: 1rem 0;
  }

  p {
    margin: .2rem 0;
  }
}

.resume-button {
  margin-top: 3rem;
  padding: .8rem 3.5rem;
  border: 1px solid var(--dark-brown);
  border-radius: 30px;

  color: var(--dark-brown);
  background-color: var(--off-white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.4rem;

  transition: .2s;

  &:hover {
    background-color: var(--off-white-secondary);
    cursor: pointer;
  }
}
