.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: row;
  width: 100%;
}

.project-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.2rem;
  border: 1px solid var(--dark-brown);
  background-color: rgba(var(--white-rgb), 0.8);
  max-width: 28rem;
}

.card-thumbnail {
  width: 100%;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin: 1.5rem 0 .8rem;

  font-weight: 600;
  letter-spacing: .1rem;

  a:hover {
    filter: brightness(2);
  }
}
