#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--off-white);
  background-color: var(--dark-brown);
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
}

.footer-icons svg {
  width: 3rem;
  height: 3rem;
  
  path {
    fill: var(--off-white);
    transition: .1s;
  }
  
  &:hover path {
    fill: var(--off-white-secondary);
  }
}

.footer-source {
  margin-top: 1.5rem;
  color: var(--off-white);
  opacity: .9;
  font-weight: 600;
  letter-spacing: .1rem;
  transition: .2s;

  &:hover {
    color: var(--off-white-secondary);
  }
}
