:root {
  font-family: var(--font-family);
  color: var(--dark-brown);
  background-color: var(--off-white);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2 {
  font-family: var(--font-header);
}

h2 {
  font-size: 4rem;
}

a {
  color: var(--dark-brown);
  text-decoration: none;
}

section {
  margin: 4rem 8rem;
}

footer {
  padding: 3em 8em;
}
