.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  align-items: center;
  gap: 8rem;

  margin-top: 2rem;
  padding: 1rem 5rem;
  border: 1px solid var(--dark-brown);
  border-radius: 4rem;
  background-color: rgba(var(--white-rgb), 0.8);
}

.navbar a {
  font-size: 1.2rem;
  transition: .1s;

  &:hover {
    filter: brightness(2);
  }
}
